.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 46px;
    background-color: #f5f5f5;
    text-align: center;
    font-size: 12px;
}
.search-bar{
    text-align: right;
    background-color: #f5f5ef;
    padding-right: 1%;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-bottom: 15px;
    height: 43px;
}
.search-bar input, .search-bar select{
}
.search-bar a{
    color: black;
    margin-bottom: 15px;
}
.header-text{
    float: left;
    font-size: 21px;
    margin: 4px 13px 0 6px;
}
.search-bar select, .search-bar input {
    height: 30px;
}
.last {
    margin-bottom: 70px !important;
}