.container{
    text-align: center;
}
.container div{
    margin-top: 22%;
}
.errorlist li{
    color:red;
}
.alert{
    top: 0;
    left: 0;
    width: 100%;
    position: fixed;
    text-align: center;
}
