.cal-heatmap-container rect.q1{
    fill: #ff0000;
}
.cal-heatmap-container rect.q2{
    fill: #ff8000;
}
.cal-heatmap-container rect.q3{
    fill: #ffff00;
}
.cal-heatmap-container rect.q4{
    fill: #80ff00;
}
.cal-heatmap-container rect.q5{
    fill: #00ff00;
}
/*.cal-heatmap-container .graph-rect {
    fill: black;
}*/
.box {
    background-color: #f5f5ef;
    margin-top: 50px;
    padding-bottom: 20px;
    border-radius: 10px;
}
svg {
    margin: auto;
}
.result{
    margin-top: 2%;
    text-align: center;
}
.center{
    margin: auto;
    max-width: 300px;
    margin-top: 20px;
}
.RecentCalenderHeatmap{
    margin: auto;
}
