{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
        <script type="text/javascript" src="{% static 'jquery-3.1.1.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'bootstrap.css' %}" />
        <script type="text/javascript" src="{% static 'bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'base.css' %}" />
        <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    {% block header %}
    {% endblock %}
    {% block content %}
    {% endblock %}
<footer class="footer">
    <p>
    Tiltscore isn’t endorsed by Riot Games and doesn’t reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </p>
</footer>
</body>
</html>